@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */


header {
    width: 100%;
    background-image: linear-gradient(to right, #454955 , #909590);
    font-family: 'Poppins';
}



/* banner */
.banner {
    height: 80vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/foodContoh.jpg');
    background-size: cover;
    background-position: center;
}

.konten-banner {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* pilihan kategori */
/* nanti dulu */





/* card rekomendasi */
.cards-wrap {
    background-color: #2B2D42;
    padding: 0.5rem;
    justify-content: center;
}

.card {
    margin:0 0.7rem;
}



/* footer */